from elasticsearch import Elasticsearch
from datetime import datetime, timedelta
from logger import logger

{% if elastic_user and elastic_pass %}
es = Elasticsearch("{{ elastic_url }}", basic_auth=({{ elastic_user | tojson }}, {{ elastic_pass | tojson }}))
{% else %}
es = Elasticsearch("{{ elastic_url }}")
{% endif %}

def run():
    now = datetime.utcnow()
    since = now - timedelta(minutes=40)

    result = es.count(index="{{ index }}", body={
        "query": {
            "range": {
                "{{ timestamp_field }}": {
                    "gte": since.isoformat(),
                    "lt": now.isoformat()
                }
            }
        }
    })

    count = result['count']
    if count > {{ threshold }}:
        message = f"ALERTA: Número de documentos = {{ count }} > {{ threshold }}"
        logger.info(message)
