from elasticsearch import Elasticsearch
from datetime import datetime, timedelta
from logger import logger

# Watcher: multi_field_values

{% if elastic_user and elastic_pass %}
es = Elasticsearch("{{ elastic_url }}", basic_auth=({{ elastic_user | tojson }}, {{ elastic_pass | tojson }}))
{% else %}
es = Elasticsearch("{{ elastic_url }}")
{% endif %}

def run():
    now = datetime.utcnow()
    since = now - timedelta(minutes=30)

    conditions = [
        { "term": { cond["field"]: cond["value"] } } for cond in {{ conditions | tojson }}
    ]

    query = {
        "bool": {
            "must": [
                { "range": { "{{ timestamp_field }}": { "gte": since.isoformat(), "lt": now.isoformat() } }},
                { "bool": { "should": conditions }}
            ]
        }
    }

    result = es.count(index="{{ index }}", body={ "query": query })

    count = result['count']
    if count > 0:
        logger.info(f"ALERTA: Detectadas {count} ocurrencias de condiciones definidas.")
